#subjectFields {
  max-height: 300px;
  width: 100%;
  overflow: auto; 
  padding-right: 25px;
  box-sizing: content-box;
  scrollbar-width: thin; 
  scrollbar-color: transparent transparent; 
}

#subjectFields::-webkit-scrollbar {
  width: 8px; 
}

#subjectFields::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #007bff, #0056b3);
  border-radius: 4px;
}

#subjectFields::-webkit-scrollbar-track {
  background: #f4f4f9;
  border-radius: 4px;
}


#subjectFields::-webkit-scrollbar {
  opacity: 0; 
}

#subjectFields {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

#subjectsDoneFields, #subjectsLeftFields {
  max-height: 300px;
  width: 100%;
  overflow: auto;
  padding-right: 25px;
  box-sizing: content-box;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

#subjectsDoneFields::-webkit-scrollbar,
#subjectsLeftFields::-webkit-scrollbar {
  width: 8px;
}

#subjectsDoneFields::-webkit-scrollbar-thumb,
#subjectsLeftFields::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #007bff, #0056b3);
  border-radius: 4px;
}

#subjectsDoneFields::-webkit-scrollbar-track,
#subjectsLeftFields::-webkit-scrollbar-track {
  background: #f4f4f9;
  border-radius: 4px;
}

#subjectsDoneFields::-webkit-scrollbar,
#subjectsLeftFields::-webkit-scrollbar {
  opacity: 0;
}

#subjectsDoneFields,
#subjectsLeftFields {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#subjectFields,
#subjectsDoneFields, #subjectsLeftFields {
  max-height: 300px;
  width: 100%;
  overflow: auto;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}
